# Personal CV folder
CV_LamTanThinh/

# Personal documents
CV_DA_Fresher_Lam_Tan_Thinh.pdf
CV_Lam_Tan_Thinh_CRM.pdf
CV_With_Picture_Lam_Tan_Thinh.pdf
ThinhLam_ProfileLinks.docx
ThinhLam_ProfileLinks.pdf
ThinhLam_Transcript.pdf
QUOTATION - Deleaf.pdf
646eb7a4e7ad7cc2b72369d3MOMO_D2_TTNT_HK243_2025-06-13.docx
